.filter-data-filter-header {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 14rem;
  gap: 0.3rem;
  padding: 0.1rem;
}


.filter-data-filter-header .filter-data-filter button.get-data-btn {
  background-color: rgb(159, 198, 198);
  /* width: 100%; */
  margin: 0.1rem;
  display: inline-block;
  padding: 1px;
  border: 0.01rem solid;
  box-sizing: border-box;
  padding: 0.1rem;
  height: 2rem;
}

.filter-data-filter-header {}

.filter-data-filter-header {}